name: backend ci

on:
  push:
    branches:
      - 'main'

jobs:
  python-linter:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Setting up Python Env
          uses: actions/setup-python@v5 
          with:
            python-version: '3.10'
        - name: Install dependencies
          run: |
            sudo apt install python3-pip
            pip install -r backend/linter-requirements.txt
        - name: Formatting using black
          run: black backend
        - name: Run black lint check
          run: black --check --diff backend

  docker:
    needs: [python-linter] 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: hcachon/devops-backend:${{ github.sha }}

  kubernetes-deploy:
    needs: [docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'
      - name: Configure Kubectl
        run: |
          echo "${{ secrets.KUBERNETES_CONFIG }}" | base64 --decode > kubeconfig.yaml
          export KUBECONFIG=$(pwd)/kubeconfig.yaml
          kubectl config use-context admin@k8s-esgi-devops
          kubectl version --client
          kubectl config view
          kubectl cluster-info
          sed -i 's/\${IMAGE_VERSION}/${{ github.sha }}/' ./backend/kube/deploymnt.yaml          
          kubectl apply -f ./backend/kube/deploymnt.yaml
