name: backend ci

on:
  push:
    branches:
      - 'main'

jobs:
  python-linter:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Setting up Python Env
          uses: actions/setup-python@v5 
          with:
            python-version: '3.10'
        - name: Install dependencies
          run: |
            sudo apt install python3-pip
            pip install -r backend/linter-requirements.txt
        - name: Formatting using black
          run: black backend
        - name: Run black lint check
          run: black --check --diff backend
          
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: hcachon/devops-backend:${{ github.sha }}

