name: backend ci

on:
  push:
    branches:
      - 'main'

jobs:
  black-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setting up Python Env
        uses: actions/setup-python@v5 
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          sudo apt install python3-pip
          pip install -r backend/linter-requirements.txt
      - name: Run black lint check
        run: black --check --diff backend
        id: check_changes
      - name: Formatting using black
        if: steps.check_changes.outputs.changes != ''
        run: black backend/*.py
      - name: Commit formatted code
        if: steps.check_changes.outputs.changes != ''
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add backend
          git commit -m "Format code with black"
          git push

  docker:
    needs: [black-linter] 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: hcachon/devops-backend:${{ github.sha }}

  kubernetes-deploy:
    needs: [docker]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'
      - name: Configure Kubectl
        run: |
          echo "${{ secrets.KUBERNETES_CONFIG }}" | base64 --decode > kubeconfig.yaml
          export KUBECONFIG=$(pwd)/kubeconfig.yaml
          kubectl config use-context admin@k8s-esgi-devops
          kubectl version --client
          kubectl config view
          kubectl cluster-info
          kubectl apply -f ./backend/kube/deployemnt.yaml
