name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        
      - uses: actions/checkout@v1
      - name: Login to GitHub Package Registry
        run: echo "${{ secrets.TEST }}" | docker login docker.pkg.github.com --username "${{ secrets.TEST_USERNAME }}" --password-stdin
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: my-docker-hub-namespace/my-docker-hub-repository
      
      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          working-directory: ./backend 
          run: |
            echo ${{ github.workspace }} 
            IMAGE_TAG=devops-backend-esgi:$(date +%s)
            docker build --file ./backend/Dockerfile --tag $IMAGE_TAG .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
