name: BACKEND Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check out the repo
        
      - name: Login to GitHub Package Registry
        run: echo "${{ secrets.TEST }}" | docker login docker.pkg.github.com --username "${{ secrets.TEST_USERNAME }}" --password-stdin
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: my-docker-hub-namespace/my-docker-hub-repository

      - uses: actions/checkout@v4
      - name: Build the Docker image
        working-directory: ./backend 
        run: |
          IMAGE_TAG=devops-backend-esgi:$(date +%s)
          docker build --file Dockerfile --tag $IMAGE_TAG .

