name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      working-directory: ./backend 
      run: |
        IMAGE_TAG=my-image-name:$(date +%s)
        docker build --file Dockerfile --tag $IMAGE_TAG .
