name: frontend ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: hcachon/devops-frontend:chancy

  sonarcloud:
    name: Build (Sonar Cloud)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        context: ./frontend
        node-version: '16'

    - name: Test & Code Coverage
      run: |
        echo ${{ secrets.SONAR_TOKEN }}
        cd frontend
        npm install
      
    - name: Upload Code Coverage
      uses: sonarsource/sonarcloud-github-action@master
    
      env: 
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  kubernetes-deploy:
      needs: [docker]
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4
        - name: Set up Kubectl
          uses: azure/setup-kubectl@v3
          with:
            version: 'latest'
        - name: Configure Kubectl
          run: |
            echo "${{ secrets.KUBERNETES_CONFIG }}" | base64 --decode > kubeconfig.yaml
            export KUBECONFIG=$(pwd)/kubeconfig.yaml
            kubectl config use-context admin@k8s-esgi-devops
            kubectl version --client
            kubectl config view
            kubectl cluster-info
            kubectl apply -f ./frontend/kubernetes/deployement.yaml
    
