name: frontend ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: hcachon/devops-frontend:latest

  sonarcloud:
    name: Build (Sonar Cloud)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - uses: actions/setup-node@v2
      with:
        node-version: '15'

    - name: Test & Code Coverage
      run: |
        cd frontend
        npm install
        npm run -- --coverage
      
    - name: Upload Code Coverage
      uses: sonarsource/sonarcloud-github-action@master
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
